<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings> 
		<setting name="logImpl" value="NO_LOGGING"/>
        <setting name="cacheEnabled" value="false" />
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

	<typeAliases>
		<package name="com.ehyf.ewashing.entity" />
		
		<package name="com.ehyf.ewashing.vo" />
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">  
            <property name="dialect" value="mysql"/> 
	        <property name="offsetAsPageNum" value="true"/>
	        <property name="rowBoundsWithCount" value="true"/>
	        <property name="pageSizeZero" value="true"/>	        
	        <property name="reasonable" value="true"/>
        </plugin> 
	</plugins>
	
</configuration>